numpy<2.0
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]
tensorflow[and-cuda]
flax
keras
keras-nlp
tensorflow-datasets
# Probably not required
# nvidia-cudnn-cu12
jupyter